body {
  width: 100%;
  height: 100%;
  min-height: 600px;
  text-align: center;
  margin: auto 0;
  background-size: 100%;
  background-color: #14542A;
  background-image: linear-gradient(
    45deg,
    rgba(26, 112, 56, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(79, 204, 142, .2) 50%,
    rgba(240, 82, 255, .2) 75%,
    transparent 75%,
    transparent);
}
.input-fields {
  display: block;
  font-size: 45px;
  width: 100%;
  background-color: transparent;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
}
.username-field {
  border: 5px solid #8DCF8D;
}
.password-field {
  border: 5px solid #7634CC;
}
.success {
  border: 5px solid #8DCF8D;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.error {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.submit {
  max-width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  color: #F052FF;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
}
